<section class="hero is-fullheight">
  <!-- Hero content: will be in the middle -->
  <div class="hero-body">
    <div class="container">
      <div class="columns is-centered is-vcentered">
        <div class="column is-2">
          <figure class="image has-image-centered">
            <img class="img" src="../../../assets/img/logo.png">
          </figure>
        </div>
        <div class="column is-4">
          <h1 class="title has-roboto-mono">Reporter</h1>
        </div>
        <div class="column is-4">
          <div class="card has-background-grey-darker">
            <div class="card-content">
              <form [formGroup]="formLogin" (submit)="onSubmitLogin(formLogin.value)" class="has-background-grey-darker">
                <div class="field">
                  <label class="label has-text-white">Usuario</label>
                  <div class="control has-icons-left has-icons-right">
                    <input class="input" [ngClass]="{
                                                      'is-success': !lf.user.errors && ( lf.user.touched || lf.user.dirty),
                                                      'is-danger' : lf.user.errors && ( lf.user.touched || lf.user.dirty)

                                                     }"
                           type="text" placeholder="Usuario" formControlName="user">
                    <span class="icon is-small is-left"><fa-icon icon="user"></fa-icon></span>
                    <span  class="icon is-small is-right" *ngIf="!lf.user.errors && ( lf.user.touched || lf.user.dirty)"><fa-icon icon="check"></fa-icon></span>
                  </div>
                </div>
                <div class="field">
                  <label class="label has-text-white">Contraseña</label>
                  <div class="control has-icons-left has-icons-right">
                    <input class="input" [ngClass]="{
                                                      'is-success': !lf.password.errors && ( lf.password.touched || lf.password.dirty),
                                                      'is-danger' : lf.password.errors && ( lf.password.touched || lf.password.dirty)

                                                     }"
                           type="password" placeholder="Contraseña"
                           formControlName="password">
                    <span class="icon is-small is-left"><fa-icon icon="lock"></fa-icon></span>
                    <span class="icon is-small is-right" *ngIf="!lf.password.errors && ( lf.password.touched || lf.password.dirty)" ><fa-icon icon="check"></fa-icon></span>
                  </div>
                </div>
                <div class="field">
                  <div class="control has-text-centered">
                    <button class="button is-warning" type="submit">Login</button>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Notificaciones -->
  <!--<div *ngIf="formLogin.get('user').errors" class="notification is-warning is-absolute">-->
    <!--<button class="delete"></button>-->
    <!--Primar lorem ipsum dolor sit amet, consectetur-->
    <!--adipiscing elit lorem ipsum dolor. <strong>Pellentesque risus mi</strong>, tempus quis placerat ut, porta nec nulla.-->
    <!--Vestibulum rhoncus ac ex sit amet fringilla. Nullam gravida purus diam, et dictum <a>felis venenatis</a> efficitur.-->
    <!--Sit amet,-->
    <!--consectetur adipiscing elit-->
  <!--</div>-->
</section>


<!--<section class="hero is-fullheight">-->
<!--&lt;!&ndash; Hero content: will be in the middle &ndash;&gt;-->
<!--<div class="hero-body">-->
<!--<div class="container is-centered">-->
<!--<div class="tile is-ancestor">-->
<!--<div class="tile is-8 is-parent">-->
<!--<div class="tile is-child has-text-centered">-->
<!--<p class="title">Middle tile</p>-->
<!--<p class="subtitle">With an image</p>-->
<!--</div>-->
<!--<div class="tile is-child">-->
<!--<figure class="image is-160x200">-->
<!--<img src="../../../assets/img/logo.png">-->
<!--</figure>-->
<!--</div>-->
<!--</div>-->
<!--<div class="tile is-4 is-parent is-vertical has-background-grey-dark">-->
<!--<form [formGroup]="formLogin" (submit)="onSubmitLogin(formLogin.value)">-->
<!--<h1 class="title">Login</h1>-->
<!--<div class="field">-->
<!--<p class="control has-icons-left has-icons-right">-->
<!--<input class="input" type="text" placeholder="Usuario" formControlName="user">-->
<!--<span class="icon is-small is-left"><i class="fas fa-envelope"></i></span>-->
<!--<span class="icon is-small is-right"><i class="fas fa-check"></i></span>-->
<!--</p>-->
<!--</div>-->
<!--<div class="field">-->
<!--<p class="control has-icons-left">-->
<!--<input class="input" type="password" placeholder="Contraseña" formControlName="password">-->
<!--<span class="icon is-small is-left"><i class="fas fa-lock"></i></span>-->
<!--</p>-->
<!--</div>-->
<!--<div class="field">-->
<!--<p class="control">-->
<!--<button class="button is-warning" type="submit">Login</button>-->
<!--</p>-->
<!--</div>-->
<!--</form>-->
<!--</div>-->
<!--</div>-->
<!--</div>-->
<!--</div>-->
<!--&lt;!&ndash; Notificaciones &ndash;&gt;-->
<!--<div *ngIf="formLogin.get('user').errors" class="notification is-warning is-absolute">-->
<!--<button class="delete"></button>-->
<!--Primar lorem ipsum dolor sit amet, consectetur-->
<!--adipiscing elit lorem ipsum dolor. <strong>Pellentesque risus mi</strong>, tempus quis placerat ut, porta nec-->
<!--nulla.-->
<!--Vestibulum rhoncus ac ex sit amet fringilla. Nullam gravida purus diam, et dictum <a>felis venenatis</a>-->
<!--efficitur.-->
<!--Sit amet,-->
<!--consectetur adipiscing elit-->
<!--</div>-->
<!--</section>-->

